<manifest package="com.example.exclusivegame"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="ExclusiveGame"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".GameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
